
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<br/>
@model DF.Web.Controllers.LoginModel

<div class="deal-box">
    @using (@Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Username)
            <p>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control title" })
            </p>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            <p>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control title" })

            </p>
        </div>
        <button type="submit" class="btn btn-success" style="padding: 20px 40px; font-size: 18px;">Login</button>
        <div class="lbl-info">Don't have an account? Please <a href="/#/register">register</a> with us.</div>
    }
</div>